*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Pacifico',
    cursive;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: rgb(245, 178, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
h1{
    color: rgb(49, 49, 49);
    border-bottom: 3px solid #fff;
    margin-top: 2rem;
    font-size: 2rem;
}
svg{
    width: 100%;
    height: 100%;
}

svg #heart-shape{
    display: none;
    animation: pulse 3s infinite;
}
img{
    width: 14rem;
    position: absolute;
    top: 22.5%;
    animation: pulse 2s alternate-reverse infinite;
}

@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
